body {
	background-color:teal;
	color:white;
	text-align:center;
}

#container{
	display: flex;
	justify-content:center;
}

#editor{
height: 300px;
width:600px;
}

#hello{
margin-left:10px;
height: 300px;
width:600px;
background-color:white;	
}