body {
	background-color:#3ac569;
	color:#534847;
	box-sizing:border-box;
	font-family: 'Lato', sans-serif;
}

h1{
	text-align:center;
}
	
#container{
	display: flex;
	justify-content:center;
	#editor{
		height: 300px;
		width:600px;
		overflow: auto;
	}
	#reponseHtml{
		margin-left:10px;
		height: 300px;
		width:600px;
		background-color:#dadbdb;
		padding:0 15px;
		overflow: auto;
	}
}